body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cyan;
}

button {
    position: relative;
    top: 80px;
    left: 10px;
    padding: 15px 50px;
    color: #fff;
    background-color: #f4d35e;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514f;
    outline: none;
    transition: .3s
}

button:hover,
button:active {
    outline: none;
    background-color: #50514f;
    cursor: pointer;
    transform: translate(15px);
}

.game {
    position: relative;
    width: auto;
    height: 100%;
}

.container {
    position: realtive;
    display: inline-block;
    top: 200px;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: #f25f5c;
}

.dice-one {
    position: absolute;
    left: 150px;
}

.dice-two {
    position: absolute;
    left: -50px;
}

.side {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
}